<app-layout>
<div class="auth-container">
    <h2 class="auth-title">Registro de tickets y empresas</h2>
  
    <!-- Sección para Listar Empresas -->
    <div class="list-group">
        <a routerLink="/listar-empresas" class="list-group-item list-group-item-action">Empresas</a>
    </div>
  
    <!-- Sección para Listar Tickets -->
    <div class="list-group">
        <a routerLink="/listar-tickets" class="list-group-item list-group-item-action">Tickets</a>
    </div>
  
    <!-- Botón de Volver -->
    <div class="list-group">
        <a routerLink="/inicio" class="list-group-item list-group-item-action btn-volver">Volver</a>
    </div>
</div>
</app-layout>