<app-layout>
<div class="container mt-5">
  <div class="card">
    <div class="card-header text-center">
      <h2>Crear Asistencias Mensuales</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="trabajadorId" class="form-label">Trabajador</label>
          <select class="form-select" id="trabajadorId" formControlName="trabajadorId">
            <option *ngFor="let trabajador of trabajadores" [value]="trabajador._id">{{ trabajador.nombre }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="mes" class="form-label">Mes</label>
          <input type="month" class="form-control" id="mes" formControlName="mes">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Crear Asistencias</button>
        </div>
      </form>
    </div>
  </div>
  <div class="text-end mt-3">
    <button class="btn btn-primary" routerLink="/listar-asistencias">Volver</button>
  </div>
</div>
</app-layout>