<div class="container mt-5">
  <h2>Listado de Asistencias</h2>
  <!-- Sección de Filtros -->
  <div class="mb-3">
    <form [formGroup]="filtroForm">
      <div class="row align-items-center">
        <!-- Filtro por Fecha -->
        <div class="col">
          <label for="fecha" class="col-form-label">Fecha:</label>
          <input type="month" id="fecha" class="form-control" formControlName="fecha">
        </div>
        <!-- Filtro por Trabajador -->
        <div class="col">
          <label for="trabajador" class="col-form-label">Trabajador:</label>
          <select id="trabajador" class="form-select" formControlName="trabajador">
            <option value="" disabled>Seleccionar trabajador</option>
            <option *ngFor="let trabajador of trabajadores" [ngValue]="trabajador.nombre">{{ trabajador.nombre }}</option>
          </select>
        </div>        
        <!-- Botón de Añadir Asistencia Mensual -->
        <div class="col text-end">
          <button class="btn btn-success" routerLink="/crear-asistencia">Añadir asistencia mensual</button>
        </div>
      </div>
    </form>
  </div>
  
    <!-- Tabla de Asistencias -->
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Trabajador</th>
            <th>Fecha</th>
            <th>Hora de Entrada</th>
            <th>Hora de Salida</th>
            <th>Hora de Entrada Real</th>
            <th>Hora de Salida Real</th>
            <th>Diferencia (minutos)</th>
            <th>Total Horas</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asistencia of asistenciasFiltradas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <ng-container *ngIf="esObjetoTrabajador(asistencia.trabajador); else nombreString">
                {{ asistencia.trabajador.nombre }}
              </ng-container>
              <ng-template #nombreString>{{ asistencia.trabajador }}</ng-template>
            </td>
            <td>{{ dateFormatService.formatDate(asistencia.dia) }}</td>
            <td>
              <select class="form-control" [(ngModel)]="asistencia.horaEntrada" (change)="cambiarHorarioEntrada(asistencia._id!, asistencia.horaEntrada!)">
                <option value="" disabled selected>Cambiar Horario de Entrada</option>
                <option *ngFor="let hora of horasOpciones" [value]="hora">{{ hora }}</option>
              </select>
            </td>
            <td>
              <select class="form-control" [(ngModel)]="asistencia.horaSalida" (change)="cambiarHorarioSalida(asistencia._id!, asistencia.horaSalida!)">
                <option value="" disabled selected>Cambiar Horario de Salida</option>
                <option *ngFor="let hora of horasOpciones" [value]="hora">{{ hora }}</option>
              </select>
            </td>
            <td>{{ asistencia.entradaReal }}</td>
            <td>{{ asistencia.salidaReal }}</td>
            <td>{{ calcularDiferencia(asistencia) }}</td>
            <td>{{ asistencia.horasTotales }}</td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="col-md-4 text-end">
  <button class="btn btn-primary btn-volver" routerLink="/recursos-humanos">Volver</button>
</div>