<app-layout>
<div class="auth-container">
  <h2 class="auth-title">Recursos Humanos</h2>

  <!-- Sección para Registrar -->
  <div class="list-group">
      <a routerLink="/listar-usuarios" class="list-group-item list-group-item-action btn-verde-claro">Registro de usuarios</a>
  </div>

  <!-- Sección para Listar Trabajadores -->
  <div class="list-group">
      <a routerLink="/listar-trabajadores" class="list-group-item list-group-item-action">R-SGI-03 Gestión de trabajadores</a>
  </div>

  <!-- Sección para Listar Asistencia -->
  <div class="list-group">
      <a routerLink="/listar-asistencias" class="list-group-item list-group-item-action">Asistencia de trabajadores</a>
  </div>

  <!-- Botón de Volver -->
  <div class="list-group">
    <a routerLink="/inicio" class="list-group-item list-group-item-action btn-volver">Volver</a>
  </div>
</div>
</app-layout>