<app-layout>
<div class="container mt-3">
  <!-- Cumpleaños Próximo -->
  <div class="card mb-5">
    <div class="card-body">
      <h2 class="card-title">Cumpleaños Próximo</h2>
      <p class="card-text" *ngIf="cumpleaniosProximo">
        <strong>{{ cumpleaniosProximo.nombre }}</strong> - {{ dateFormatService.formatDate(cumpleaniosProximo.fechaNacimiento) }}
      </p>
      <p class="card-text" *ngIf="!cumpleaniosProximo">
        No hay cumpleaños próximos.
      </p>
    </div>
  </div>

  <!-- Cumpleaños por Mes -->
  <div *ngFor="let mes of objectKeys(cumpleaniosPorMes)">
    <h2>{{ +mes | nombreMes }}</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha de Nacimiento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trabajador of cumpleaniosPorMes[mes]">
          <td>{{ trabajador.nombre }}</td>
          <td>{{ dateFormatService.formatDate(trabajador.fechaNacimiento) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-end">
    <button class="btn btn-primary btn-volver" routerLink="/listar-trabajadores">Volver</button>
  </div>
</div>
</app-layout>