<app-layout>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h4 class="text-center">{{ titulo }}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="trabajadorForm" (ngSubmit)="agregarTrabajador()">
  
              <!-- Nombre -->
              <div class="form-group mb-3">
                <label for="nombre"><strong>Nombre</strong></label>
                <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre del trabajador">
                <div *ngIf="trabajadorForm.get('nombre')?.touched && trabajadorForm.get('nombre')?.errors?.['required']" class="text-danger">
                    El nombre es obligatorio.
                </div>                  
              </div>
  
              <!-- RUT -->
              <div class="form-group mb-3">
                <label for="rut"><strong>RUT</strong></label>
                <input type="text" id="rut" class="form-control" formControlName="rut" placeholder="RUT del trabajador">
                <div *ngIf="trabajadorForm.get('rut')?.touched && trabajadorForm.get('rut')?.errors?.['required']" class="text-danger">
                    El RUT es obligatorio.
                </div>                  
              </div>
  
              <!-- Fecha de Nacimiento -->
              <div class="form-group mb-3">
                <label for="fechaNacimiento"><strong>Fecha de Nacimiento</strong></label>
                <input type="date" id="fechaNacimiento" class="form-control" formControlName="fechaNacimiento">
                <div *ngIf="trabajadorForm.get('fechaNacimiento')?.touched && trabajadorForm.get('fechaNacimiento')?.errors?.['required']" class="text-danger">
                    La fecha de nacimiento es obligatoria.
                </div>
              </div>
  
              <!-- Número de Celular -->
              <div class="form-group mb-3">
                <label for="celular">Número de Celular</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">+569</span>
                  </div>
                  <input type="tel" id="celular" class="form-control" formControlName="celular" placeholder="12345678" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>

              <!-- Correo Electrónico -->
              <div class="form-group mb-3">
                <label for="correoElectronico">Correo Electrónico</label>
                <input type="email" id="correoElectronico" class="form-control" formControlName="correoElectronico" placeholder="Correo Electrónico">
              </div>

              <!-- Estado Civil -->
              <div class="form-group mb-3">
                <label for="estadoCivil">Estado Civil</label>
                <select id="estadoCivil" class="form-control" formControlName="estadoCivil">
                  <option value="">Seleccionar Estado Civil</option>
                  <option value="Soltero">Soltero</option>
                  <option value="Casado">Casado</option>
                  <option value="Viudo">Viudo</option>
                  <option value="Divorciado">Divorciado</option>
                  <option value="Conviviente Civil">Conviviente Civil</option>
                </select>
              </div>

              <!-- Domicilio -->
              <div class="form-group mb-3">
                <label for="domicilio">Domicilio</label>
                <input type="text" id="domicilio" class="form-control" formControlName="domicilio" placeholder="Domicilio">
              </div>

              <!-- Sector -->
              <div class="form-group mb-3">
                <label for="sector">Sector</label>
                <input type="text" id="sector" class="form-control" formControlName="sector" placeholder="Sector">
              </div>

              <!-- Ciudad -->
              <div class="form-group mb-3">
                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad" class="form-control" formControlName="ciudad" placeholder="Ciudad">
              </div>

              <!-- Empresa Contrata -->
              <div class="form-group mb-3">
                <label for="empresaContrata">Empresa que contrata</label>
                <select id="empresaContrata" class="form-control" formControlName="empresaContrata">
                  <option value="">Seleccionar Empresa</option>
                  <option value="Gabriela Guerra">Gabriela Guerra</option>
                  <option value="Sociedad">Sociedad</option>
                </select>
              </div>

              <!-- Tipo Contrato -->
              <div class="form-group mb-3">
                <label for="tipoContrato">Tipo de Contrato</label>
                <select id="tipoContrato" class="form-control" formControlName="tipoContrato">
                  <option value="">Seleccionar Tipo de Contrato</option>
                  <option value="Part Time 10 Horas">Part Time 10 Horas</option>
                  <option value="Part Time 18 Horas">Part Time 18 Horas</option>
                  <option value="Part Time 25 Horas">Part Time 25 Horas</option>
                  <option value="Part Time 30 Horas">Part Time 30 Horas</option>
                  <option value="Part Time 35 Horas">Part Time 35 Horas</option>
                  <option value="Full Time">Full Time</option>
                  <option value="Practica">Practica</option>
                </select>
              </div>

              <!-- Plazo Contrato -->
              <div class="form-group mb-3">
                <label for="plazoContrato">Plazo del Contrato</label>
                <select id="plazoContrato" class="form-control" formControlName="plazoContrato">
                  <option value="">Seleccionar Plazo del Contrato</option>
                  <option value="Coffee Break">Coffee Break</option>
                  <option value="Honorario">Honorario</option>
                  <option value="Indefinido">Indefinido</option>
                  <option value="Plazo Fijo">Plazo Fijo</option>
                  <option value="Practica">Practica</option>
                </select>
              </div>

              <!-- Fecha de Inicio del Contrato -->
              <div class="form-group mb-3">
                <label for="fechaInicioContrato">Fecha de Inicio del Contrato</label>
                <input type="date" id="fechaInicioContrato" class="form-control" formControlName="fechaInicioContrato">
              </div>

              <!-- Fecha de Término del Contrato -->
              <div class="form-group mb-3">
                <label for="fechaTerminoContrato">Fecha de Término del Contrato</label>
                <input type="date" id="fechaTerminoContrato" class="form-control" formControlName="fechaTerminoContrato">
              </div>

              <!-- Cargo -->
              <div class="form-group mb-3">
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" class="form-control" formControlName="cargo" placeholder="Cargo">
              </div>

              <!-- Área -->
              <div class="form-group mb-3">
                <label for="area">Área</label>
                <select id="area" class="form-control" formControlName="area">
                  <option value="">Seleccionar Área</option>
                  <option value="Administración">Administración</option>
                  <option value="Caliente">Caliente</option>
                  <option value="Cocina">Cocina</option>
                  <option value="Coffee Break">Coffee Break</option>
                  <option value="Frio">Frio</option>
                  <option value="Gestión RRSS">Gestión RRSS</option>
                  <option value="Linier">Linier</option>
                  <option value="Logística">Logística</option>
                  <option value="Servicios">Servicios</option>
                  <option value="Transporte">Transporte</option>
                </select>
              </div>

              <!-- Sucursal -->
              <div class="form-group mb-3">
                <label for="sucursal">Sucursal</label>
                <select id="sucursal" class="form-control" formControlName="sucursal">
                  <option value="">Seleccionar Sucursal</option>
                  <option value="Central">Central</option>
                  <option value="Faremin">Faremin</option>
                  <option value="Megacentro">Megacentro</option>
                  <option value="Ovalle">Ovalle</option>
                </select>
              </div>

              <!-- Dirección del Proyecto -->
              <div class="form-group mb-3">
                <label for="direccionProyecto">Dirección del Proyecto</label>
                <input type="text" id="direccionProyecto" class="form-control" formControlName="direccionProyecto" placeholder="Dirección del Proyecto">
              </div>

              <!-- Número de Contrato -->
              <div class="form-group mb-3">
                <label for="numeroContrato">Número de Contrato</label>
                <input type="text" id="numeroContrato" class="form-control" formControlName="numeroContrato" placeholder="Número de Contrato">
              </div>

              <!-- Licencia de Conducir -->
              <div class="form-group mb-3">
                <label for="licenciaConducir">¿Tiene Licencia de Conducir?</label>
                <select id="licenciaConducir" class="form-control" formControlName="licenciaConducir">
                  <option value="">Seleccionar</option>
                  <option value="Sí">Sí</option>
                  <option value="No">No</option>
                </select>
              </div>

              <div class="form-group mb-3">
                <label for="claseLicencia">Tipo de Licencia</label>
                <input type="text" id="claseLicencia" class="form-control" formControlName="claseLicencia" placeholder="Tipo de Licencia">
              </div>

              <!-- Nacionalidad -->
              <div class="form-group mb-3">
                <label for="nacionalidad">Nacionalidad</label>
                <input type="text" id="nacionalidad" class="form-control" formControlName="nacionalidad" placeholder="Nacionalidad">
              </div>

              <!-- Banco -->
              <div class="form-group mb-3">
                <label for="banco">Banco</label>
                <input type="text" id="banco" class="form-control" formControlName="banco" placeholder="Banco">
              </div>

              <!-- Tipo de Cuenta -->
              <div class="form-group mb-3">
                <label for="tipoCuenta">Tipo de Cuenta</label>
                <input type="text" id="tipoCuenta" class="form-control" formControlName="tipoCuenta" placeholder="Tipo de Cuenta">
              </div>

              <!-- Número de Cuenta -->
              <div class="form-group mb-3">
                <label for="numeroCuenta">Número de Cuenta</label>
                <input type="tel" id="numeroCuenta" class="form-control" formControlName="numeroCuenta" placeholder="Número de Cuenta" pattern="[0-9]*" inputmode="numeric">
              </div>

              <!-- Calzado -->
              <div class="form-group mb-3">
                <label for="calzado">Calzado (Usar coma para decimales)</label>
                <input type="number" id="calzado" class="form-control" formControlName="calzado" placeholder="Talla de Calzado" step="any">
              </div>

              <!-- Talla de Camisa -->
              <div class="form-group mb-3">
                <label for="tallaCamisa">Talla de Camisa</label>
                <input type="text" id="tallaCamisa" class="form-control" formControlName="tallaCamisa" placeholder="Talla de Camisa">
              </div>

              <!-- Talla de Pantalón -->
              <div class="form-group mb-3">
                <label for="tallaPantalon">Talla de Pantalón</label>
                <input type="text" id="tallaPantalon" class="form-control" formControlName="tallaPantalon" placeholder="Talla de Pantalón">
              </div>

              <!-- AFP -->
              <div class="form-group mb-3">
                <label for="afp">AFP</label>
                <input type="text" id="afp" class="form-control" formControlName="afp" placeholder="AFP">
              </div>

            <!-- Fecha de Incorporación a la AFP -->
            <div class="form-group mb-3">
              <label for="fechaIncorporacionAFP">Fecha de Incorporación a la AFP</label>
              <input type="date" id="fechaIncorporacionAFP" class="form-control" formControlName="fechaIncorporacionAFP">
            </div>

            <!-- Institución de Salud -->
            <div class="form-group mb-3">
              <label for="institucionSalud">Institución de Salud</label>
              <select id="institucionSalud" class="form-control" formControlName="institucionSalud">
                <option value="">Seleccionar Institución de Salud</option>
                <option value="Fonasa">Fonasa</option>
                <option value="Isapre">Isapre</option>
                <option value="Ninguna">Ninguna</option>
              </select>
            </div>

            <!-- Entrega de Ropa de Trabajo -->
            <div class="form-group mb-3">
              <label for="entregaRopaTrabajo">¿Se ha entregado Ropa de Trabajo?</label>
              <select id="entregaRopaTrabajo" class="form-control" formControlName="entregaRopaTrabajo">
                <option value="">Seleccionar</option>
                <option value="Sí">Sí</option>
                <option value="No">No</option>
              </select>
            </div>

            <!-- Contacto de Emergencia -->
            <div formGroupName="contactoEmergencia">
              <div class="form-group mb-3">
              <label for="nombreEmergencia">Nombre del contacto de emergencia</label>
              <input type="text" id="nombreEmergencia" class="form-control" formControlName="nombre" placeholder="Nombre del contacto de emergencia">
            </div>

            <div class="form-group mb-3">
              <label for="parentescoEmergencia">Parentesco</label>
              <input type="text" id="parentescoEmergencia" class="form-control" formControlName="parentesco" placeholder="Parentesco con el contacto">
            </div>

            <!-- Teléfono de Emergencia -->
            <div class="form-group mb-3">
              <label for="telefono">Teléfono de Emergencia</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">+569</span>
                </div>
                  <input type="tel" id="telefono" class="form-control" formControlName="telefono" placeholder="12345678" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>


            <!-- Fecha Finiquito -->
            <div class="form-group mb-3">
              <label for="fechaFiniquito">Fecha de Finiquito</label>
              <input type="date" id="fechaFiniquito" class="form-control" formControlName="fechaFiniquito">
            </div>

            <!-- Causa Finiquito -->
            <div class="form-group mb-3">
              <label for="causaFiniquito">Causa de Finiquito</label>
              <input type="text" id="causaFiniquito" class="form-control" formControlName="causaFiniquito" placeholder="Causa del Finiquito">
            </div>

            <!-- Escala de Recomendación -->
            <div class="form-group mb-3">
              <label for="escalaRecomendacion">Escala de Recomendación (1-10)</label>
              <input type="number" id="escalaRecomendacion" class="form-control" formControlName="escalaRecomendacion" min="1" max="10" placeholder="Escala de 1 a 10">
            </div>

            <!-- Sueldo Base -->
            <div class="form-group mb-3">
              <label for="sueldoBase">Sueldo Base</label>
              <input type="number" id="sueldoBase" class="form-control" formControlName="sueldoBase" placeholder="Sueldo Base">
            </div>

            <!-- Fecha Actualización Oferta -->
            <div class="form-group mb-3">
              <label for="fechaActualizacionOferta">Fecha de Actualización de la Oferta</label>
              <input type="date" id="fechaActualizacionOferta" class="form-control" formControlName="fechaActualizacionOferta">
            </div>

            <!-- Días de Vacaciones -->
            <div class="form-group mb-3">
              <label for="diasVacaciones">Días de Vacaciones</label>
              <input type="number" id="diasVacaciones" class="form-control" formControlName="diasVacaciones" placeholder="Días de Vacaciones">
            </div>

            <!-- Estado -->
            <div class="form-group mb-3">
              <label for="estadoEmpresa"><strong>Estado</strong></label>
              <select id="estadoEmpresa" class="form-control" formControlName="estadoEmpresa">
                <option value="">Seleccionar Estado</option>
                <option value="Vigente">Vigente</option>
                <option value="No Vigente">No Vigente</option>
              </select>
              <div *ngIf="trabajadorForm.get('estadoEmpresa')?.touched && trabajadorForm.get('estadoEmpresa')?.errors?.['required']" class="text-danger">
                Escoger un estado es obligatorio.
              </div>
            </div>

            <!-- Fecha en que el trabajador dejó de estar vigente -->
            <div class="form-group mb-3" *ngIf="trabajadorForm.get('estadoEmpresa')?.value === 'No Vigente'">
              <label for="fechaNoVigencia">Fecha en que el trabajador dejó de estar vigente</label>
              <input type="date" id="fechaNoVigencia" class="form-control" formControlName="fechaNoVigencia">
            </div>

            <!-- Motivo de no vigencia -->
            <div class="form-group mb-3" *ngIf="trabajadorForm.get('estadoEmpresa')?.value === 'No Vigente'">
                <label for="razonNoVigencia">Motivo de no vigencia</label>
                <input type="text" id="razonNoVigencia" class="form-control" formControlName="razonNoVigencia">
            </div>

            <!-- Botones de acción -->
            <div class="form-group mb-3">
              <button type="submit" class="btn btn-success btn-lg float-end" [disabled]="!trabajadorForm.valid">Guardar</button>
              <button routerLink="/listar-trabajadores" class="btn btn-secondary btn-lg float-start">Volver</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  

<div class="col-md-4 text-end">
  <button class="btn btn-primary btn-volver" routerLink="/listar-trabajadores">Volver</button>
</div>
</app-layout>