<div class="container mt-3">
    <h2>Registro de Horas Extras</h2>
    <form [formGroup]="horasExtrasForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="tipoHoraExtra" class="form-label">Tipo de Hora Extra:</label>
            <select id="tipoHoraExtra" class="form-select" formControlName="esPrevio">
                <option value="true">Diurna (previa a la entrada)</option>
                <option value="false">Tardía (posterior a la salida)</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="horasExtras" class="form-label">Cantidad de Horas Extras (HH:MM):</label>
            <select id="horasExtras" class="form-control" formControlName="horasExtras">
                <option value="" disabled selected>Seleccionar Horas Extras</option>
                <option *ngFor="let hora of horasOpciones" [ngValue]="hora">{{ hora }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<div class="col-md-4 text-end">
    <button class="btn btn-primary btn-volver" routerLink="/listar-asistencias">Volver</button>
</div>
