<app-layout>
<div class="container mt-4">
    <!-- Sección de Filtros -->
    <div class="mb-3">
        <form [formGroup]="filtroForm">
        <div class="row g-3 align-items-center">
            <!-- Filtro por Empresa -->
            <div class="col-auto">
            <label for="empresa" class="col-form-label">Empresa:</label>
            <select id="empresa" class="form-select" formControlName="empresa">
                <option value="">Todas</option>
                <option *ngFor="let empresa of empresas" [value]="empresa._id">{{ empresa.nombre }}</option>
            </select>
            </div>
    
            <!-- Filtro por Estado de la Empresa -->
            <div class="col-auto">
            <label for="estadoEmpresa" class="col-form-label">Empresa vigente:</label>
            <select id="estadoEmpresa" class="form-select" formControlName="estadoEmpresa">
                <option value="">Todos</option>
                <option value="Si">Sí</option>
                <option value="No">No</option>
            </select>
            </div>
    
            <!-- Filtro por Orden de Compra -->
            <div class="col-auto">
            <label for="ordenCompra" class="col-form-label">Orden de Compra:</label>
            <select id="ordenCompra" class="form-select" formControlName="ordenCompra">
                <option value="">Todos</option>
                <option value="Si">Sí</option>
                <option value="No">No</option>
            </select>
            </div>
    
            <!-- Filtro por Estado del Ticket -->
            <div class="col-auto">
            <label for="estadoTicket" class="col-form-label">Estado del Ticket:</label>
            <select id="estadoTicket" class="form-select" formControlName="estadoTicket">
                <option value="">Todos</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Creado">Creado</option>
                <option value="Disponible">Disponible</option>
                <option value="Entregado">Entregado</option>
                <option value="Impreso">Impreso</option>
                <option value="Nulo">Nulo</option>
            </select>
            </div>
        </div>
        </form>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h2>Listado de Tickets</h2>
        <div class="button-group">
            <button class="btn btn-primary" routerLink="/crear-ticket">Registrar Talonarios</button>
            <button class="btn btn-primary" routerLink="/listar-usos">Uso de ticket</button>
            <button class="btn btn-primary" routerLink="/listar-perdidas">Tickets perdidos</button>
        </div>
    </div>
    <table class="table table-striped table-rounded">
        <thead>
            <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Empresa</th>
            <th>Estado de la Empresa</th>                
            <th>Orden de Compra</th>
            <th>Talonarios</th>
            <th>Unidades</th>
            <th>Folio Inicial</th>
            <th>Folio Final</th>
            <th>Total Factura</th>
            <th>Observación</th>
            <th>Estado del Ticket</th>
            <th>Vigencia</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of ticketsFiltrados; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ dateFormatService.formatDate(ticket.fecha) }}</td>
                <td>{{ getEmpresaNombre(ticket) }}</td>
                <td>{{ getEstadoEmpresa(ticket) }}</td>
                <td>{{ ticket.ordenCompra }}</td>
                <td>{{ ticket.talonarios }}</td>
                <td>{{ ticket.unidades }}</td>
                <td>{{ ticket.folioInicial }}</td>
                <td>{{ ticket.folioFinal }}</td>
                <td [title]="'Valor: ' + (ticket.valor | number:'1.0-2')">
                    {{ ticket.totalFactura | number:'1.0-2' }}
                  </td>
                <td>{{ ticket.observacion }}</td>
                <td>
                    <select class="form-select" (change)="onSelectEstadoChange(ticket._id, $event)">
                        <option [selected]="ticket.estado === 'Pendiente'" value="Pendiente">Pendiente</option>
                        <option [selected]="ticket.estado === 'Creado'" value="Creado">Creado</option>
                        <option [selected]="ticket.estado === 'Disponible'" value="Disponible">Disponible</option>
                        <option [selected]="ticket.estado === 'Entregado'" value="Entregado">Entregado</option>
                        <option [selected]="ticket.estado === 'Impreso'" value="Impreso">Impreso</option>
                        <option [selected]="ticket.estado === 'Nulo'" value="Nulo">Nulo</option>
                    </select>
                </td>
                <td>{{ ticket.vigencia }}</td>
                <td>
                    <button class="btn btn-warning btn-sm" [disabled]="ticket.talonarios <= 1" [routerLink]="['/fraccionar-ticket', ticket._id]">Fraccionar</button>
                </td>
            <td>
            </td>
            </tr>
        </tbody>
    </table>
</div>
  
<div class="btn-volver">
    <button class="btn btn-primary" routerLink="/administracion-tickets">Volver</button>
</div>
</app-layout>